*~
*.swp
*.mdb
*.blend1
*.blend1.meta
*.pdb

bin
obj
Releases

Library/
ProjectSettings/
GameData/CargoAccelerators/Plugins/*.dll
GameData/CargoAccelerators/Plugins/PluginData/CargoAccelerators/config.xml
/Assembly-CSharp*.csproj
/Logs/Packages-Update.log
/Packages/manifest.json
/CargoAccelerators.sln
/CargoAccelerators.csproj.DotSettings
/CA.UI/CA.UI.csproj.DotSettings
.ipynb_checkpoints
/notebooks/data

# ignoring source texture files
/Assets/Textures/src
/Assets/src

# ignoring utility assets
/Assets/PartTools/
/Assets/SquadCore/
/Assets/TextMesh Pro/
/Assets/Plugins/KSPAssets/
/Assets/Editor/FindMissingScripts.cs.cs
/Assets/Editor/FindMissingScriptsRecursive.cs
/Assets/Editor/KSPCurveEditor.cs
/PartTools.cfg
# and their meta
/Assets/Editor/FindMissingScripts.cs.cs.meta
/Assets/Editor/FindMissingScriptsRecursive.cs.meta
/Assets/Editor/KSPCurveEditor.cs.meta
/Assets/PartTools.meta
/Assets/Plugins/KSPAssets.meta
/Assets/SquadCore.meta
/Assets/TextMesh Pro.meta
