*~
*.swp
*.mdb
*.blend1
*.blend1.meta
*.pdb

bin
obj
Releases

Library/
ProjectSettings/
Assets/**/*.png
Assets/src/*
Assets/PartTools/
Assets/SquadCore/
Assets/TextMesh Pro/
Assets/Plugins/KSPAssets/

GameData/CargoAccelerators/Plugins/*.dll
GameData/CargoAccelerators/Plugins/PluginData/CargoAccelerators/config.xml
/Assembly-CSharp*.csproj
/Assets/Editor/FindMissingScripts.cs.cs
/Assets/Editor/FindMissingScriptsRecursive.cs
/Assets/Editor/KSPCurveEditor.cs
/Logs/Packages-Update.log
/Packages/manifest.json
/PartTools.cfg
/CargoAccelerators.sln
/CargoAccelerators.csproj.DotSettings
/CA.UI/CA.UI.csproj.DotSettings
.ipynb_checkpoints
/notebooks/data
